.user-container {
    min-width: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.user h4 {
    font-size: 20px;
}
.user h4 span {
    padding-left: 10px;
}
.user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.btn {
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background-color: #df4930;
    border: none;
    color: white;
    font-size: large;
    border-radius: 2px;
    align-self: center;
}
.btn:hover,
.btn:active {
    color: #df4930;
    background-color: white;
    border: 1px solid #df4930;
}
